@use "../mixins" as m;
@use "../variables" as v;

.service-section {
  padding-top: 56px;
  padding-bottom: 56px;
}

.service-section__title-wrapper {
  max-width: 719px;
  margin: 0 auto 24px;
}

.service-section__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: var(--main-font-weight-700);
  line-height: 31px;
  text-align: center;
  color: var(--main-color-black);
}

.service-section__trxt {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: var(--main-font-weight-400);
  line-height: 24px;
  text-align: center;
  color: var(--main-color-black);
}

.service-section__list {
  @include m.flexbox(flex, null, center, center, 48px, 70px);
  flex-wrap: wrap;
  @include m.list-unstyled($m-top: 0, $m-bottom: 40px);
}

.service-section__item {
  max-width: 320px;
  width: 100%;
  padding: 24px;
  border-radius: 5px;
  background-color: var(--main-color-white);
  box-shadow: 0px 8px 8px 0px #0000001a;
}

.service-section__item:hover {
  box-shadow: 0px 12px 21px 0px #0000001a;
}

.service-section__item:active {
  box-shadow: 0px 4px 4px 0px #00000033;
}

.service-section__item:first-child::before {
  display: block;
  width: 203px;
  height: 130px;
  margin: 0 auto 16px;
  background-image: url("../images/website-illustration.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.service-section__item:nth-child(2)::before {
  display: block;
  width: 222px;
  height: 130px;
  margin: 0 auto 16px;
  background-image: url("../../images/bot-illustration.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.service-section__item:nth-child(3)::before {
  display: block;
  width: 177px;
  height: 130px;
  margin: 0 auto 16px;
  background-image: url("../images/smm-illustration.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.service-section__item:nth-child(4)::before {
  display: block;
  width: 179px;
  height: 130px;
  margin: 0 auto 16px;
  background-image: url("../images/design-illustration.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.service-section__item:last-child::before {
  display: block;
  width: 170px;
  height: 130px;
  margin: 0 auto 16px;
  background-image: url("../images/crm-illustration.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.service-section__item-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: var(--main-font-weight-700);
  line-height: 26px;
  text-align: center;
  color: var(--main-color-black);
}

.service-section__item-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: var(--main-font-weight-400);
  line-height: 24px;
  text-align: center;
  color: var(--main-color-black);
}

.service-section__inner {
  @include m.flexbox(flex, null, center, center, null, 16px);
}

.service-section__item-link {
  padding: 8px 16px;
  font-size: 16px;
  font-weight: var(--main-font-weight-700);
  line-height: 24px;
  border-radius: 5px;
  background-color: var(--main-link-bg-color);
  @include m.link-unstyled (inline-block, var(--main-color-white));
}

.service-section__item-link:hover {
  opacity: 0.8;
}

.service-section__item-link:active {
  opacity: 0.6;
}

.service-section__link {
  color: var(--main-link-bg-color);
  font-size: 16px;
  font-weight: var(--main-font-weight-400);
  line-height: 24px;
}